version: "3"

services:
  nginx:
    container_name: nginx
    build:
      context: ./
      dockerfile: ./Dockerfile
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 8080:8080
      - 443:443
volumes:
  mongodata:
